<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebCompetition.DAL.Properties.Settings.WebCompetionConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\00_MyFiles\001_My_Codes\006_C#_Codes\Web\WebCompetitionA\WebCompetition.Web\App_Data\WebCompetion.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>